<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/detalle.css">
<link rel="stylesheet" href="/css/home.css">

    <main>
        <section class="titulo">
            <h1>Detalle de producto</h1>
        </section>
        <section class="lista-prod">
            <article class="container-detalle">
                <div class="image-container">
                    <% if(producto.image && producto.image.includes("http://")){ %>
                        <img src="<%= producto.image %>" alt="imagen-producto" />
                    <% }else if(producto.image){ %>
                        <img src="/images/products/<%= producto.image %>" alt="imagen-producto" />
                    <% }else{ %>
                        <img src="/images/products/predeterminado.jpg" alt="imagen-producto" />
                    <% } %>
                </div>
                <section class="datos-detalle">
                    <div class="detalle-pro">
                        <h2><%= producto.nombre %></h2><br>
                        <h3><%= producto.categoria %></h3><br>
                        <p class = "datos-descripcion"><%= producto.descripcion %></p><br>
                        <p class="price">S/. <%= producto.precio %></p>
                    </div>
                    <a href="/products/<%= producto.id %>/edit" class="btn-standard"><i class="fa fa-edit"></i><span class="sp-msj">Editar</span></a>
                    <form action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button class="btn-standard btn-delete"><i class="fa fa-trash"></i><span class="sp-msj">Eliminar</span></button>
                    </form>
                </section>
            </article>
        </section>
    </main>
<%- include('../partials/footer') %>