<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/forms.css">
    <main>
        <div class="form-signup">
            <form action="/products/<%= producto.id %>/?_method=PUT" method="POST"  enctype="multipart/form-data" class="create-form" novalidate>
                <h1>EDICIÓN DE PRODUCTO</h1><br><br>
                <div id="listaerrores" class="text-error">
                    <ul>
                    </ul>
                </div>
                <div class="control-form">
                    <label for="usuario"><strong>Nombre del Producto</strong></label>
                    <br>
                    <input type="text" name="nombre" id="id_name" class="control" value="<%= producto.nombre %>" minlength="6" required>
                    <% if(locals.errors && errors.nombre){ %>
                        <div class="text-error">
                            <%= errors.nombre.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="control-form">
                    <label for="usuario"><strong>Descripción</strong></label>
                    <br>
                    <input type="text" name="descripcion" id="id_description" class="control" value="<%= producto.descripcion %>" minlength="6" required>
                    <% if(locals.errors && errors.descripcion){ %>
                        <div class="text-error">
                            <%= errors.descripcion.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="control-form">
                    <label for="pass1"><strong>Imagen</strong></label>
                    <br>
                    <input type="file" name="image" id="id_image" class="control" value="<%= producto.image %>" required>
                    <% if(locals.errors && errors.image){ %>
                        <div class="text-error">
                            <%= errors.image.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="control-form">
                    <label for="pass2"><strong>Categoría</strong></label>
                    <br />
                    <select id="id_category" name="categoria">
                        <% categorias.forEach((categoria)=>{ %>
                            <option 
                                value="<%=categoria.id%>" 
                                <%=producto.categoria_id===categoria.id? "selected":""%> 
                            >
                                <%=categoria.nombre%>
                            </option>
                        <% }) %>
                    </select>
                    <% if(locals.errors && errors.categoria){ %>
                        <div class="text-error">
                            <%= errors.categoria.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="control-form">
                    <label for="pass2"><strong>Tamaño(peso)</strong></label>
                    <br>
                    <input type="text" name="length" id="id_weight" class="control" value="<%= producto.length %>" required>
                    <% if(locals.errors && errors.length){ %>
                        <div class="text-error">
                            <%= errors.length.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="control-form">
                    <label for="pass2"><strong>Precio</strong></label>
                    <br>
                    <input type="text" name="precio" id="id_price" class="control" value="<%= producto.precio %>" minlength="2" required>
                    <% if(locals.errors && errors.precio){ %>
                        <div class="text-error">
                            <%= errors.precio.msg %>
                        </div>
                    <% }%>
                </div>
                <div class="form-button">
                    <a href="/products/<%= producto.id %>" class="btn-form">
                        CANCELAR
                    </a>
                        <button type="submit" class="btn-form">EDITAR</button>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript">
        window.onload = ()=>{
            let formulario = document.querySelector("form")
            formulario.addEventListener("submit", (e)=>{
                let errores = []
                let campoName = document.querySelector("#id_name")
                let campoDescription = document.querySelector("#id_description")
                let campoImage = document.querySelector("#id_image")

                if(validator.isEmpty(campoName.value)){
                    errores.push("Debe ingresar un Nombre")
                }else if(!validator.isLength(campoName.value, {min:5, max: undefined})){
                    errores.push("Debe ingresar de Nombre al menos 5 caracteres")
                }
                
                if(!validator.isLength(campoDescription.value, {min:20, max: undefined})){
                    errores.push("Debe ingresar de Descripcion al menos 20 caracteres")
                }

                let arrPath = campoImage.value.split(".")
                let arrFormats = ["jpg", "jpeg", "png", "gif"]
                if(validator.isEmpty(campoImage.value)){
                    errores.push("Debe agregar una Imagen")
                }else if(!arrFormats.includes(arrPath[arrPath.length-1])){
                    errores.push("Debe ingresar una imagen con uno de los sgtes. formatos: "+arrFormats.map(f=>f))
                }

                if(errores.length>0){
                    e.preventDefault()
                    let listaErrores = document.querySelector("#listaerrores ul")
                    listaErrores.innerHTML = ""
                    errores.forEach(error=>{
                        listaErrores.innerHTML += "<li>"+error+"</li>"
                    })
                }
            })

        }
    </script>
<%- include('../partials/footer') %>