<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/forms.css">
    <main>
        <div class="form-profile">
            <form action="/users" method="POST" class="create-form" enctype="multipart/form-data">
                <h1>Perfil</h1><br><br>
                <div class="datos">
                    <div class="datos__avatar">
                        <div class="control-form">
                            <img height="100px" src="/images/users/<%=usuario.image%>"/>
                            <h3 for="username"><strong><%=usuario.username%></strong></h3>
                        </div>
                    </div>
                    <div class="datos__texto">
                        <div class="control-form">
                            <label for="first_name"><strong>Primer Nombre: <%=usuario.nombre%></strong></label>
                        </div>
                        <div class="control-form">
                            <label for="last_name"><strong>Primer Apellido: <%=usuario.apellido%></strong></label>
                        </div>
                        <div class="control-form">
                            <label for="email"><strong>Correo Electrónico: <%=usuario.email%></strong></label>
                        </div>
                        <br>
                        <a href="/users/editar" class="btn-form">
                            Editar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </main>
<%- include('../partials/footer') %>